
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;800&display=swap');

body {
    max-width: 1440px;
    font-family: 'Public Sans', sans-serif;
    margin: 0 auto;
}

.header {
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
    height: 35px;    
}

.header .logo .imagem {
    height: 100%;
}

.header .logo .titulo {
    font-size: 20px;
    font-weight: 800;
}

.header .menu {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
}

.header .menu .lista {
    display: flex;
}

.header .menu .item {
    display:flex;
}

.header .menu .link {
    padding: 10px 15px;
}

.header .menu .link:hover {
    background-color: #5BC241; 
    color: #fff;
}

.header .menu .btn-cadastro {
    background-color: #5BC241;
    margin-left: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
    width: 127px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        margin-top: 5%;
    }

    .header .logo {
        height: 40px;
    }

    .header .logo .titulo {
        font-size: 30px;
    }
    
    .header .menu {
        width: 100%;
        justify-content: space-around;
        margin-top: 40px;
    }
}

@media (max-width: 644px) {
    
     .header .menu {
        flex-direction: column;
        width: 160px;
        font-size: 20px;
        text-align: center;
        height: 310px;
    }
  
    .header .menu .lista {
        flex-direction: column;
        width: 100%;
    }

    .header .menu .lista .link {
        width: 100%;
    }

    .header .menu .btn-cadastro {
      margin: 40px 0 0 0;
      width: 100%;
      font-size: 15px;
    } 
}