html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    line-height: 3.5rem;
}

/* ESTILO GLOBAL*/

.slider-container {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    max-height: 1080px;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-container .seta-voltar {
    content: '';
    background: url(../images/seta.png);
    background-size: cover;
    width: 55px;
    height: 80px;
    position: absolute;
    left: 4%;
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
}

.slider-container .seta-avancar {
    content: '';
    background: url(../images/seta.png);
    background-size: cover;
    width: 55px;
    height: 80px;
    position: absolute;
    right: 4%;
    cursor: pointer;
    z-index: 1;
}

.slider-container .img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-container .img .informacoes {
    background-color: #fff;
    width: 35%;
    max-width:620px;
    height: 80%;
    min-height: 700px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3.5%;
    border-radius: 10px;
}

.slider-container .img .informacoes .titulo {
    font-size: 5rem;
    font-weight: 400;
}

.slider-container .img .informacoes .texto {
    font-size: 2.5rem;
    font-weight: 300;
}

.slider-container .img .informacoes .saiba-mais {
    font-size: 3rem;
    font-weight: 700;
}

/* ESTILO DE CADA IMAGEM */

.slider-container .img.primeira {
    background: url(../images/4.jpg) no-repeat center center;
    background-size: cover;
}

.slider-container .img.primeira .saiba-mais{
    color: #C50000;
}

.slider-container .img.segunda {
    background: url(../images/1.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}

.slider-container .img.segunda .saiba-mais{
    color: #D9DD10;
}

.slider-container .img.terceira {
    background: url(../images/3.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}

.slider-container .img.terceira .saiba-mais{
    color: #A63A17;
}

.slider-container .img.quarta {
    background: url(../images/2.jpg) no-repeat center center;
    background-size: cover;
    display: none;
    
}

.slider-container .img.quarta .saiba-mais{
    color: #10ACDD;
}

/* LAPTOP L VERSION */

@media (max-width: 1440px) {
    .slider-container {
        min-height:600px;
    }

    .slider-container .img .informacoes {
        min-height: 500px;
        width: 45%
    }  

    .slider-container .img .informacoes .texto {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}


/* LAPTOP S VERSION */

@media (max-width: 1024px) {
    .slider-container .seta-voltar,
    .slider-container .seta-avancar{
        height: 45px;
        width: 30px;
    } 
    
    .slider-container .img .informacoes {
        width: 50%;
    }

    .slider-container .img .informacoes .titulo {
        font-size: 3.5rem
    }

    .slider-container .img .informacoes .saiba-mais {
        font-size: 2.5rem;
    }
}

/* TABLET */

@media (max-width: 768px) {
    
    
    .slider-container .img {
        justify-content: center;
    }

    .slider-container .img .informacoes { 
        width: 65%;
        margin-left: 0
    }

    .slider-container .img .informacoes .texto {
        font-size: 1.8rem;
    }  

}

@media (max-width: 460px) {
    .slider-container .seta-voltar {
        bottom: 20px;
        left: 40%;
        width: 20px;
        height: 30px;
    }

    .slider-container .seta-avancar{
        bottom: 20px;
        right: 40%;
        width: 20px;
        height: 30px;
    } 
    
    .slider-container .img .informacoes { 
        width: 90%;
        padding: 5%;
    }

    .slider-container .img .informacoes .titulo {
        font-size: 3rem;
    }
}