body {
    width: 300px;
}

.paragrafo-padrao {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 40px 0;
}

.paragrafo-destacado {
    background-color: #f0cce2;
    padding: 20px;
    margin: 40px 0;
}