
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;800&display=swap');

html {
    font-family: 'Public Sans', sans-serif;
}

.rodape {
    background-color: #181D29;
    padding: 5% 5%;
}

.rodape .container {
    /* background-color: blue; */
    max-width: 1440px;
    height: 100%;   
    margin: 0 auto;
}

.rodape .logo {
    /* border: 1px solid white; */
    height: 40px;
    margin: 0 0 30px;
    
}

.rodape .logo .logo-img {
    height: 100%;
    display: inline-block;
    margin: 0 5px 0 0;
}

.rodape .logo .logo-txt {
    /* background-color: lawngreen; */
    display: inline-block;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rodape .coluna {
    /* border: 1px solid white; */
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.rodape .icone {
    height: 35px;
    display: inline-block;
}

.rodape .texto {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.rodape .local-icone {
    display: inline-block;
}

.rodape .local-texto {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.rodape .contato {
    /* background-color: darkgrey; */
    width: fit-content;
    margin: 0 auto;
}

.rodape .item-contato {
    /* background-color: darkgreen; */
    margin: 0 0 10px;
}

.rodape .texto-contato {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 5px;
}

.rodape .menu {
    /* background-color: darkmagenta; */
    width: fit-content;
    margin: 0 auto;
}

.rodape .menu .item-menu {
    margin-top: 5px;
}

.rodape .menu .link-menu {
    text-decoration: none;
    color:#fff;
}

.rodape .redes-sociais {
    /* background-color: darkolivegreen; */
    text-align: center;
}

.rodape .item-redes-sociais {
    display: inline-block;
    margin: 0 0 0 5px;
}

@media (max-width: 992px) {
   
   .rodape .logo {
       text-align: center;
       margin: 0 0 50px;
       height: 50px;
   }

   .rodape .logo .logo-txt {
       font-size: 25px;
   }
   

    .rodape .coluna {
        /* border: 1px solid white; */
        display: block;
        width: 100%;
        margin: 0 0 50px;
    }

    .coluna-local {
        text-align: center;
        }

    .rodape .local-icone {
        display: block;
        margin:  0 auto 10px;
    }
    
    .rodape .local-texto {
        display: block;
        margin: 0 auto;
    }

    .rodape .contato {
        /* background-color: darkgreen; */
        text-align: center;
    }

    .rodape .item-contato {
        /* background-color: darkgreen; */
        margin: 10px 20px;
        display: inline-block;
    }

    .rodape .menu {
        /* background-color: darkmagenta; */
        text-align: center;
    }
}

.btn-voltar {
    background-color: rgba(32, 178, 98, 0.5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: rgb(32, 178, 98);
}
